*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body{
    background-color: #1D1D1F;
    color:#ffffff;

}

header{
    width: 100%;
    height: 100vh;
    background-image: url(../IMG/backgroundIMG.jpg) ;
    background-size: cover;
    background-position: center;
}

.container{
    padding: 10px 10%;

}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo{
    width: 180px;

    
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    color: #ffffff;
    text-decoration: none ;
    font-size: 16px;
    position: relative;

}

nav ul li a::after{
content: '';
width: 0%;
height: 2px;
border-radius: 10px;
background: #D3AC2C;
position: absolute;
left:0;
bottom: -6px;
transition: 0.5s;
}

nav ul li a:hover::after{
    width: 100%;

}

#header_text{
    margin-top: 10%;
    font-size:20px;

}

#header_text h1{
    font-size: 50px;
    margin-top: 20px;
}

#header_text h1 span{
    color: #D3AC2C;
}

/* about */

#about{
    padding: 80px 0;
    color: #D3AC2C;
}

.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#image img{
    width: 100%;
    border-radius: 15px;

}

#image{
    flex-basis: 35%;
}

#description{
    flex-basis: 60%;
}

#description h2{
    font-size: 60px;
    font-weight: 600;
    color: #fff;

}

#description p{
    color: #D1B496;
    line-height: 22px;
    
}


.tab_titles{
    display: flex;
    margin: 20px 0 40px;
    
}

.tab_titles .tab_links
{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
    color: #Fff !important;
    
}

.tab_links::after{
    content: '';
    width: 0;
    height: 2px;
    border-radius: 10px;
    background: #D3AC2C;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;

}
.tab_links.active_link::after{
    width:50%;
    
}

.tab_contents ul li{
    list-style: none;
    margin: 10px 0;
    width:70%;
    color: #D1B496;

}

.tab_contents ul li span{
font-size: 14px;
color: #786D60;
}

.tab_contents{
    display: none;
}

.tab_contents.active_tab{
    display: block;
}





