*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body{
    background-color: #1D1D1F;
    color:#ffffff;

}

header{
    width: 100%;
    height: 100vh;
    background-image: url(../IMG/backgroundIMG.jpg) ;
    background-size: cover;
    background-position: center;
}

.container{
    padding: 10px 10%;

}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo{
    width: 180px;

    
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    color: #ffffff;
    text-decoration: none ;
    font-size: 16px;
    position: relative;

}

nav ul li a::after{
content: '';
width: 0%;
height: 2px;
border-radius: 10px;
background: #D3AC2C;
position: absolute;
left:0;
bottom: -6px;
transition: 0.5s;
}

nav ul li a:hover::after{
    width: 100%;

}

#header_text{
    margin-top: 10%;
    font-size:20px;

}

#header_text h1{
    font-size: 50px;
    margin-top: 20px;
}

#header_text h1 span{
    color: #D3AC2C;
}

/* about */

#about{
    padding: 80px 0;
    
}

.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#image img{
    width: 100%;
    border-radius: 15px;

}

#image{
    flex-basis: 35%;
}

#description{
    flex-basis: 60%;
}

.sub_title{
    font-size: 60px;
    font-weight: 600;
    color: #fff;

}

#description p{
    color: #FED8B1;
    line-height: 22px;
    
}


.tab_titles{
    display: flex;
    margin: 20px 0 40px;
    
}

.tab_titles .tab_links
{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
    color: #Fff !important;
    
}

.tab_links::after{
    content: '';
    width: 0;
    height: 2px;
    border-radius: 10px;
    background: #D3AC2C;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;

}
.tab_links.active_link::after{
    width:50%;
    
}

.tab_contents ul li{
    list-style: none;
    margin: 10px 0;
    width:70%;
    color: #FED8B1;

}

.tab_contents ul li span{
font-size: 14px;
color: #786D60;
}

.tab_contents{
    display: none;
}

.tab_contents.active_tab{
    display: block;
}

/*skills*/

#skills{
    padding: 0px 0;

}


.skills_list,
.soft_skills_list {
    opacity: 0;
    visibility: hidden;
    max-height: 0;
    overflow: hidden;
    transition: 0.5s;
    
}

.skills_list.active {
    
    opacity: 1;
    visibility: visible;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap:40px;
    margin-top: 30px;
    padding-top: 20px;
    max-height: 470px;
    overflow: hidden;

}

.soft_skills_list.active{
    opacity: 1;
    visibility: visible;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap:40px;
    margin-top: 30px;
    max-height: 430px;
    overflow: hidden;
    padding-top: 20px;
}

.skills_list.active.expanded,
.soft_skills_list.active.expanded{
    max-height: 2100px;
}



#buttons_skills{
    background-color: #D1B496;
    border-radius: 15px ;
    border: solid #3B3130;
    margin-top: 20px ;
    width: 290px;
}


#soft_skills,
#hard_skills
{
    font-weight: 500;
    border-style: none;
    padding: 15px 20px;
    border-radius: 15px;
    margin:5px;
    transition: 0.5s;
    cursor: pointer;
    background-color: transparent;
    color: #3B3130;

   
}

#soft_skills.active_btn,
#hard_skills.active_btn{
    background-color: #3B3130;
    color: white;

}

.skills_list div,
.soft_skills_list div{
    background-color: #3B3130;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-right: 10px;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
}

.skills_list h3,
.soft_skills_list h3{
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 15px;
}

.skills_list div:hover,
.soft_skills_list div:hover{
    background-color: #D1B496;
    transform: translateY(-10px);
}

#see_soft_btn,
#see_hard_btn{
    border-style: none;
    background-color: #D1B496;
    color: #3B3130;
    border: solid 2px #3B3130;
    border-radius: 10px;
    padding: 15px 10px;
    font-weight: 600;
    margin-top: 20px;
    transition: color 0.5s, background 0.5s;
}

#see_soft_btn:hover,
#see_hard_btn:hover{
    background-color: #3B3130;
    color: #D1B496;
}

/*portfolio*/

#portfolio{
    padding: 50px 0;
    
}

.work_list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap:40px;
    margin-top: 50px;    
}

.work{
    max-width: 400px;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    aspect-ratio: 1 / 1;
}

.work img{
    width:100%;
    height: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
    

    
}

.layer{
    width: 100%;
    height:0;
    background: linear-gradient(rgba(0, 0, 0, 0.6), #3B3130);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
    
}

.layer h3{
    font-weight: 500;
    margin-bottom: 20px;

}

.layer a{
    text-decoration: none;
    margin-top: 20px;
    color: #3B3130;
    font-size: 18px;
    line-height: 60px;
    background-color: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;

}

.work:hover img{
    transform: scale(1.1);
}

.work:hover .layer{
    height: 100%;
}

.work.placeholder {
  visibility: hidden;
}

#projects_description{
    width: 50%;
    margin-top: 30px;
    color: #FED8B1;


}


/*contact*/
#contact{
    margin:40px;
}
.contact_left{
    flex-basis: 35%;
}

.contact_right{
    flex-basis: 60%;
}

.contact_left p{
    margin-top: 30px;
}

.contact_left p i{
    color: #D1B496;
    margin-right: 15px;
    font-size: 25px;
}

.social_media{
    margin-top: 30px;

}

.social_media a{
    font-size: 30px;
    text-decoration: none;
    margin-right: 15px;
    color: #786D60;
    display: inline-block;
    cursor: pointer;
    transition: color 0.5s, transform 0.5s;
}

.social_media a:hover{
    color: #D1B496;
    transform: translateY(-5px);
}

.btn{
    text-decoration: none;
    display: inline-block;
    background-color: #D1B496;
    color: #3B3130;
    border: solid 2px #3B3130;
    border-radius: 10px;
    padding: 15px 10px;
    font-weight: 600;
    margin-top: 30px;
    transition: color 0.5s, background 0.5s;
}

.btn:hover{
    background-color: #3B3130;
    color: #D1B496;
}

.contact_right form{
    width: 100%;

}

form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background-color: #3B3130;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
}

form input::placeholder, form textarea::placeholder{
    color: #786D60;
}

form .btn{
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}

