*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body{
    background-color: #1D1D1F;
    color:#ffffff;

}

header{
    width: 100%;
    height: 100vh;
    background-image: url(../IMG/backgroundIMG.jpg) ;
    background-size: cover;
    background-position: center;
}

#navigation{
    padding: 10px 10%;

}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo{
    width: 180px;

    
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    color: #ffffff;
    text-decoration: none ;
    font-size: 16px;
    position: relative;

}

nav ul li a::after{
content: '';
width: 0%;
height: 2px;
border-radius: 10px;
background: #D3AC2C;
position: absolute;
left:0;
bottom: -6px;
transition: 0.5s;
}

nav ul li a:hover::after{
    width: 100%;

}

#header_text{
    margin-top: 10%;
    font-size:20px;

}

#header_text h1{
    font-size: 50px;
    margin-top: 20px;
}

#header_text h1 span{
    color: #D3AC2C;
}



#about{
    padding: 80px 0;
    color: #B16C04;
}
#image img{

}









